{% extends "base.html" %}

{% block body %}
    <p>
        The page you were looking for could not be found.        
    </p>
    <style type="text/css">
        #goog-wm { }
        #goog-wm h3.closest-match { }
        #goog-wm h3.closest-match a { }
        #goog-wm h3.other-things { }
        #goog-wm ul li { }
        #goog-wm li.search-goog { display: block; }
    </style>
    <script type="text/javascript">
        var GOOG_FIXURL_LANG = 'en';
        var GOOG_FIXURL_SITE = 'http://www.benjamingolub.com/';
    </script>
    <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
