{% extends "base.html" %}

{% block body %}
    {% block above_entries %}{% endblock %}
    {% for entry in entries %}
        <div id="{{ entry.key }}" class="{% block entry_class %}entry{% endblock %}">
            <h1>
                <a href="/e/{{ entry.slug }}">{{ entry.title }}</a>
                {% if admin %}
                    <a class="edit" href="/edit/{{ entry.key }}">edit</a>
                    <a class="delete" href="#">delete</a>
                {% endif %}
            </h1>
            <div class="date" title="{{ entry.published }}">
                {{ entry.published|timesince }} ago
            </div>
            <div class="body">
                {{ entry.body }}
            </div>
            {% if entry.tags %}
                <div class="tags">
                    Tagged:
                    {% for tag in entry.tags %}
                        <a href="/t/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <a class="comments" href="/e/{{ entry.slug }}#disqus_thread">View comments</a>
        </div>
    {% endfor %}
    {% block below_entries %}{% endblock %}
{% endblock %}
