body {
  background-color: white;
  margin: 0;
}

body, 
input, 
textarea {
  color: #222222;
  font-family: Arial, sans-serif;
  font-size: 12pt;
}

img {
  border: 0;
}

div {
  position: relative;
}

form {
  margin: 0;
  padding: 0;
}

h1, 
h2, 
h3 {
  margin: 0;
  font-family: Arial, sans-serif;
}

a,
a:visited {
  color: #0000cc;
}

form {
  margin: 0;
  padding: 0;
}

table td {
  vertical-align: top;
}

#header {
  background-color: #bed7f5;
  height: 56px;
  position: relative;
}

#logo {
  font-size: 16pt;
  padding-left: 30px;
  padding-top: 15px;
}

#logo a,
#logo a:visited {
  color: black;
  text-decoration: none;
}

#logo a:hover {
  text-decoration: underline;
}

#search {
  position: absolute;
  top: 16px;
  right: 30px;
}

#search input {
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#body {
  width: 100%;
  padding: 30px;
}

#sidebar {
  padding: 30px;
  width: 250px;
}

#sidebar .box {
  margin-bottom: 1em;
}

a.new ,
a.new:visited {
  color: green;
  padding-left: 20px;
  background: url('../images/page_add.png') left center no-repeat;
}

a.edit {
  padding-left: 20px;
  background: url('../images/page_edit.png') left center no-repeat;
}

a.delete {
  padding-left: 20px;
  background: url('../images/page_delete.png') left center no-repeat;
}

.entry.full h1 a.delete,
.entry.full h1 a.delete:visited,
.entry.full h1 a.edit,
.entry.full h1 a.edit:visited {
  text-decoration: underline;
  font-size: 10pt;
  color: red;
  font-weight: normal;
}

.navigation {
  font-size: 10pt;
  margin-bottom: 1em;
}

.navigation .next {
  position: absolute;
  right: 0;
  z-index: 1;
}

.infomessage {
  margin-bottom: 1em;
}

#footer {
  margin: 30px;
  margin-top: 5em;
}

.entry.full {
  clear: both;
  margin-bottom: 3em;
}

.entry.full.permalink {
  margin-bottom: 1em;
}

.entry.full h1 {
  font-size: 20pt;
}

.entry.full h1 a,
.entry.full h1 a:visited {
  text-decoration: none;
  color: #222222;
}

.entry.full .date {
  margin-top: 0.25em;
}

.entry.full .body {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.3em;
}

.entry.full .body p {
  margin: 0;
  margin-bottom: 1em;
}

.entry.full .body h2 {
  font-size: 14pt;
  margin-bottom: 0.25em;
}

.entry .tags {
  background: url('../images/tag_blue.png') left center no-repeat;
  padding-left: 20px;
}

.entry.summary {
  margin-bottom: 1em;
}

#sidebar .entry.summary {
  margin-bottom: .25em;
}

.entry.summary h1 {
  font-size: 16pt;
  font-weight: normal;
}

.entry.summary .date {
  font-size: 12pt;
}

#sidebar .entry.summary .date {
  font-size: 8pt;
}

.entry.summary .body {
  margin-bottom: .5em;
  margin-top: .5em;
  line-height: 1.3em;
}

.entry .comments {
  background: url('../images/comments.png') left center no-repeat;
  padding-left: 20px;
}

ul li {
  margin-bottom: 0.3em;
}

pre, 
blockquote {
  border: 1px solid silver;
  background-color: #f5f5f5;
  padding: 0.5em;
  margin: 2em;
}

pre {
  overflow: auto;
  color: #007000;
}

#new textarea {
    width: 600px;
    height: 400px;
}
