{% extends "main.html" %}

{% block title %}
    {{ entry.title }} -
{% endblock %}

{% block entry_class %}{{ block.super }} permalink{% endblock %}

{% block above_entries %}
    {% if invalid %}
        <p>
            <a style="color: red; font-weight: bold;" href="http://validator.w3.org/check?url={% filter urlencode %}http://{{ request.host }}/e/{{ entry.slug}}{% endfilter %}">Invalid XHTML!</a>
        </p>
    {% endif %}
{% endblock %}

{% block below_entries %}
    {% if previous or next %}
        <div class="navigation">
            {% if previous %}
                <a class="previous" href="/e/{{ previous.slug}}">&laquo; {{ previous.title }}</a>
            {% endif %}
            {% if next %}
                <a class="next" href="/e/{{ next.slug}}">{{ next.title }} &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    <div id="disqus_thread"></div>
{% endblock %}

{% block permalink %}{% endblock %}
