{% extends "base.html" %}

{% block body %}
    {% block above_entries %}{% endblock %}
    {% for entry in entries %}
        <div id="{{ entry.key }}" class="{% block entry_class %}entry{% endblock %}">
            <h1>
                <a href="/e/{{ entry.slug }}">{{ entry.title }}</a>
                {% if admin %}
                    <a class="hidden edit" href="/edit/{{ entry.key }}">edit</a>
                    <a class="hidden delete" href="#">delete</a>
                {% endif %}
            </h1>
            <div class="share">
                <a href="#" onclick="var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://friendfeed.com/share/bookmarklet/javascript?url={% filter urlencode %}http://{{ request.host }}/e/{{ entry.slug }}{% endfilter %}&amp;title={{ entry.title|urlencode }}');document.body.appendChild(e); return false;"><img src="http://friendfeed.com/static/images/icons/internal.png" title="Share on FriendFeed" alt="Share on FriendFeed"/></a>
                <a class="retweet" href="/e/{{ entry.slug }}" title="{{ entry.title }}"></a>
            </div>
            <div class="date">
                <span title="{{ entry.published }}">{{ entry.published|bettertimesince }}</span>
                {% block permalink %}
                  <a class="hidden" href="/e/{{ entry.slug }}">permalink</a>
                {% endblock %}
            </div>
            <div class="body">
                {{ entry.body|safe }}
            </div>
            {% if entry.tags %}
                <div class="tags">
                    {% for tag in entry.tags %}
                        <a href="/t/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if DISQUS %}
                <a class="comments" href="/e/{{ entry.slug }}#disqus_thread">View comments</a>
            {% endif %}
        </div>
    {% endfor %}
    {% block below_entries %}{% endblock %}
{% endblock %}
