{% extends "entries.html" %}

{% block entry_class %}{{ block.super }} full{% endblock %}

{% block below_entries %}
    <table class="navigation">
        <tr>
        {% if previous %}
            <td class="previous">
                <a href="?start={{ previous }}">&laquo; Previous</a>
            </td>
        {% endif %}
        {% if offset %}
            <td class="next">
                <a href="?start={{ next }}">Next &raquo;</a>
            </td>
        {% endif %}
        </tr>
    </table>
{% endblock %}
